<div class="row">
    <div class="col-md-8">
        <div class="card">
            <h5 class="card-header">
                <%= contact.nama %>
            </h5>
            <div class="card-body">
                <h5 class="card-title">
                    <%= contact.nohp.replace(/^(\+\d{2})(\d{3})(\d{4})(\d{3,5})$/, '$1 $2-$3-$4' ) %>
                </h5>
                <p class="card-text">
                    <%= contact.email %>
                </p>
                <a href="/contact" class="btn btn-primary">&laquo; Kembali ke daftar kontak</a>
            </div>
        </div>
    </div>
</div>